# API Backend Django IwacuTix
VITE_API_BASE_URL="http://127.0.0.1:8000"

# URL de production de l'application web
APP_URL="https://iwacutix.bi"

# Portefeuille Blink Bitcoin Lightning (optionnel)
BLINK_WALLET_ID=""

# Clé API optionnelle
GEMINI_API_KEY=""
